<meta charset="UTF-8">
        {% block stylesheets %}
        {% endblock %}
    
        {% block body %}
        <h1>HOLA</h1>
        <img src="{{ asset('../public/images/logo.png') }}" alt="logo">
        {% endblock %}
