{# dictionary.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <body style=" background-color: pink;">
    <main style=" background-color: black; color: pink; padding: 10px;">
    <h1>Definición do Xogador</h1>
    <p>O teu xogador é: <strong>{{ magicWord }}</strong></p>
    <p>A súa definición é: {{ definition }}</p>
    </main>
    </body>
{% endblock %}